* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../img/login_bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10rem;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #8C2A19;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form input, .form textarea, .form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color:#8C2A19;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin : auto;
}

.form button:hover {
    background-color: #ff3b3b;
}

.lecturers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.lecturers-table th, .lecturers-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.lecturers-table th {
    background-color: #8C2A19;
    color: white;
}

.lecturers-table td a {
    color: #ff5e5e;
    text-decoration: none;
    transition: color 0.3s ease;
}
.lecturers-table td a:hover {
    color: white;
    background-color: #ff3b3b;
    padding: 8px;
}

